div.dialog-container {
    width: 400px;
    max-width: 400px;
    min-height: 200px;
    max-height: 60vh;

    background-color: var(--fm-color-body);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10vh;
    left: 36%;
    box-shadow: 0 0 4px var(--fm-color-shadow);

    border: 1px solid var(--fm-color-divider);
    border-radius: 6px;

    z-index: 21;
}

p.dialog-title {
    width: calc(100% - 24px);
    height: auto;

    padding: 12px 12px;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    color: var(--fm-color-text);
    position: relative;
    background-color: transparent;
    cursor: move;

    border-bottom: 1px solid var(--fm-color-divider);
}
p.dialog-title span {
    font-weight: 500;
    font-size: 13px;
    font-style: normal;

    letter-spacing: -.04em;
    text-decoration: none;
    text-transform: uppercase;
}
p.dialog-message {
    display: inline-block;
    color: var(--fm-color-text-sub);

    text-align: left;
    text-decoration: none;
    letter-spacing: .04em;

    font-size: 14px;
    font-weight: 500;
    font-style: normal;
}

div.dialog-content {
    width: calc(100% - 24px);
    height: auto;
    max-height: 60vh;

    padding: 12px;

    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
}
div.dialog-content body {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

i.dialog-action-close {
    aspect-ratio: 1 / 1;

    width: 19px;
    height: 19px;

    color: var(--fm-color-text-sub);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
i.dialog-action-close:hover {
    color: var(--fm-color-text);
}