div.dialog-container {
    width: 400px;
    max-width: 400px;
    min-height: 200px;
    max-height: 60vh;

    background-color: var(--fm-color-body);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10vh;
    left: 36%;
    box-shadow: var(--shadow-04);

    border: 1px solid var(--fm-color-divider);
    border-radius: 6px;

    z-index: 21;
}

@media screen and (max-width: 900px) {
    div.dialog-container {
        left: 0;
        right: 0;
        bottom: 0;
        top: unset;

        width: 100%;
        max-width: 500px;

        border-left-width: 0;
        border-right-width: 0;
        border-bottom-width: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        margin: 0 auto;
    }
}
@media screen and (min-width: 500px) {
    div.dialog-container {
        border-left-width: 1px;
        border-right-width: 1px;
    }
}

p.dialog-title {
    width: calc(100% - 24px);
    height: auto;

    padding: 12px 12px;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    color: var(--fm-color-text);
    position: relative;
    background-color: transparent;
    cursor: move;

    border-bottom: 1px solid var(--fm-color-divider);
}
p.dialog-title span {
    font-weight: 500;
    font-size: 13px;
    font-style: normal;

    /*     margin: auto; */

    letter-spacing: -.04em;
    text-decoration: none;
    text-transform: none;
}
p.dialog-message {
    display: inline-block;
    color: var(--fm-color-text-sub);

    text-align: left;
    text-decoration: none;
    letter-spacing: .04em;

    font-size: 14px;
    font-weight: 500;
    font-style: normal;
}

div.dialog-content {
    width: 100%;
    height: auto;
    max-height: 60vh;

    padding: 0;

    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
}
div.dialog-content body {
    width: 100%;

    display: flex;
    flex-direction: column;
    background-color: transparent;
    inset: auto;

    overflow-y: auto;
}

i.dialog-action-close {
    aspect-ratio: 1 / 1;

    width: 19px;
    height: 19px;

    color: var(--fm-color-text-sub);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
i.dialog-action-close:hover {
    color: var(--fm-color-text);
}

div.user-container {
    width: calc(100% - 24px - 24px - 2px);

    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--fm-color-body-gray);
    /* box-shadow: var(--shadow-03); */

    padding: 12px;
    margin: 12px;

    border: 1px solid var(--fm-color-divider);
    border-radius: var(--radius-03);
}
div.user-container section {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
div.user-container section img {
    width: 36px;

    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;
}
div.user-container section span {
    width: 100%;

    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    font-weight: 500;

    color: var(--fm-color-text);
}
div.user-container section span b {
    font-weight: 600;
}
div.user-container section i {
    font-size: 14px;

    color: var(--fm-color-text-sub);
    cursor: pointer;

    padding: 4px;
}
div.user-container section i:hover {
    color: var(--fm-color-text);
}

div.content-settings {
    display: flex;
    flex-direction: column;
    gap: 0;
    position: relative;

    width: 100%;

    padding: 0 0 0 0;
}
div.content-settings label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    gap: 24px;

    padding: 12px 12px;

    width: calc(100% - 24px);
}
div.content-settings label:hover {
    background-color: var(--fm-color-body-gray);
}
div.content-settings label span {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2px;
    color: var(--fm-color-text);

    font-size: 13px;
    font-weight: 500;
}
div.content-settings label span var {
    font-weight: 400;
    font-size: 13px;
    font-style: normal;

    color: var(--fm-color-text-sub);
}