@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Inter", -apple-system, system-ui, sans-serif;
    font-weight: 400;

    letter-spacing: -.02em;

    padding: 0;
    margin: 0;
}

:root {
    --fm-color-body: rgb(255, 255, 255);
    --fm-color-body-gray: rgb(247, 248, 250);
    --fm-color-body-gray-50: rgb(249, 249, 250);
    --fm-color-header: rgb(255, 255, 255);
    --fm-color-header-80: rgba(255, 255, 255, .8);
    --fm-color-header-90: rgba(255, 255, 255, .9);
    --fm-color-divider: #D0D5DD;
    --fm-color-header-text: rgb(0, 0, 0);
    --fm-color-text: rgb(0, 0, 0);
    --fm-color-text-invert: rgb(255, 255, 255);
    --fm-color-text-sub: rgb(67, 69, 70);
    --fm-color-text-sub-40: rgb(125, 128, 129);
    --fm-color-hint: rgb(142, 148, 150);
    --fm-color-primary: rgb(30, 144, 255);
    --fm-color-primary-20: rgba(30, 144, 255, 0.2);
    --fm-color-primary-30: rgba(30, 144, 255, 0.3);
    --fm-color-primary-hover: rgb(25, 136, 241);
    --fm-color-shadow: rgba(23, 24, 24, 0.2);
    --fm-color-shadow-04: rgba(16, 24, 40, 0.04);
    --fm-color-shadow-05: rgba(16, 24, 40, 0.05);
    --fm-color-shadow-06: rgba(16, 24, 40, 0.06);
    --fm-color-shadow-10: rgba(16, 24, 40, 0.10);
    --fm-color-shadow-20: rgba(16, 24, 40, 0.20);
    --fm-color-shadow-25: rgba(16, 24, 40, 0.25);
    --fm-color-toast: rgba(0, 0, 0, 0.9);
    --fm-color-toast-text: rgb(255, 255, 255);
    --fm-color-toast-border: rgba(0, 0, 0, 0);
    --fm-color-progress-background: rgba(255, 255, 255, 0.7);
    --fm-color-progress-item: rgb(0, 0, 0);
    --fm-color-progress-upload: rgba(45, 220, 45, 0.2);
    --fm-color-progress-upload-40: rgba(45, 220, 45, 0.4);
    --fm-color-progress-upload-error: rgba(220, 20, 60, 0.2);

    --fm-color-scroll-1: rgb(111, 114, 117);
    --fm-color-scroll-2: rgb(215, 219, 222);

    --radius-01: 2px;
    --radius-02: 4px;
    --radius-03: 6px;
    --radius-04: 8px;
    --radius-05: 10px;
    --radius-06: 12px;

    --shadow-01: 0px 1px 2px 0px var(--fm-color-shadow-05);
    --shadow-02: 0px 1px 2px 0px var(--fm-color-shadow-06), 0px 1px 3px 0px var(--fm-color-shadow-10);
    --shadow-03: 0px 2px 4px -2px var(--fm-color-shadow-06), 0px 4px 8px -2px var(--fm-color-shadow-10);
    --shadow-04: 0px 4px 6px -2px var(--fm-color-shadow-05), 0px 12px 16px -4px var(--fm-color-shadow-10);
    --shadow-05: 0px 8px 8px -4px var(--fm-color-shadow-04), 0px 20px 24px -4px var(--fm-color-shadow-10);
    --shadow-06: 0px 24px 48px -12px var(--fm-color-shadow-25);
    --shadow-07: 0px 32px 64px -12px var(--fm-color-shadow-20);
}

:root[data-theme="dark"] {
    --fm-color-body: rgb(15, 15, 15);
    --fm-color-body-gray: rgb(25, 25, 25);
    --fm-color-body-gray-50: rgb(35, 35, 35);
    --fm-color-header: rgb(15, 15, 15);
    --fm-color-header-80: rgba(15, 15, 15, .8);
    --fm-color-header-90: rgba(15, 15, 15, .9);
    --fm-color-divider: #6b6c6e;
    --fm-color-header-text: rgb(255, 255, 255);
    --fm-color-text: rgb(255, 255, 255);
    --fm-color-text-invert: rgb(0, 0, 0);
    --fm-color-text-sub: rgb(147, 150, 152);
    --fm-color-text-sub-40: rgb(192, 193, 194);
    --fm-color-hint: rgb(169, 172, 174);
    --fm-color-primary: rgb(0, 173, 239);
    --fm-color-primary-20: rgba(0, 173, 239, 0.2);
    --fm-color-primary-30: rgba(0, 173, 239, 0.3);
    --fm-color-primary-hover: rgb(0, 153, 219);
    --fm-color-shadow: rgba(255, 255, 255, 0.2);
    --fm-color-shadow-04: rgba(255, 255, 255, 0.04);
    --fm-color-shadow-05: rgba(255, 255, 255, 0.05);
    --fm-color-shadow-06: rgba(255, 255, 255, 0.06);
    --fm-color-shadow-10: rgba(255, 255, 255, 0.10);
    --fm-color-shadow-20: rgba(255, 255, 255, 0.20);
    --fm-color-shadow-25: rgba(255, 255, 255, 0.25);
    --fm-color-toast: rgba(255, 255, 255, 0.9);
    --fm-color-toast-text: rgb(15, 15, 15);
    --fm-color-toast-border: rgba(255, 255, 255, 0);
    --fm-color-progress-background: rgba(15, 15, 15, 0.7);
    --fm-color-progress-item: rgb(255, 255, 255);
    --fm-color-progress-upload: rgba(45, 220, 45, 0.2);
    --fm-color-progress-upload-40: rgba(45, 220, 45, 0.4);
    --fm-color-progress-upload-error: rgba(253, 47, 90, 0.2);

    --fm-color-scroll-1: rgb(111, 114, 117);
    --fm-color-scroll-2: rgb(215, 219, 222);
}
