RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f

RewriteRule ^(.*)$ $1.php
RewriteRule ^blob/(.*) blob.php?p=$1 [NC,L]
RewriteRule ^archive-download/(.*) archive-download.php?obj=$1 [NC,L]