:root {
    --size-header: 56px;
    --size-divider-resize: 12px;
    --size-divider-resize-2: 10px;
    --size-divider-resize-3: -10px;

    user-select: none;
}

span.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}

html, body {
    background-color: var(--fm-color-body-gray);

    width: 100%;
    height: 100%;

    overflow: hidden;

    font-feature-settings: "rlig" 1, "calt" 1;
}

header {
    width: 100%;
    height: var(--size-header);
    max-height: var(--size-header);
    min-height: var(--size-header);

    background-color: var(--fm-color-header);
    display: flex;
    align-items: center;
    position: relative;

    border-bottom: 1px solid var(--fm-color-divider);
}
header label.search-container {
    height: calc(100% - 24px);
    width: fit-content;

    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    gap: 12px;

    padding: 12px;
}
header label.search-container input[type="search"] {
    color: var(--fm-color-text);
    background-color: var(--fm-color-body);

    height: 100%;

    padding: 0 8px;

    border: 1px solid var(--fm-color-divider);
    outline: none;
    border-radius: var(--radius-02);

    font-weight: 400;
    font-size: 13px;
    letter-spacing: -.02em;
}

header label.search-container input[type="search"]::placeholder {
    color: var(--fm-color-text-sub-40);
}
header label.search-container input[type="search"]:hover {
    border-color: var(--fm-color-primary);
}
header label.search-container input[type="search"]:focus {
    border-color: var(--fm-color-primary);

    box-shadow: 0 0 0 var(--radius-02) var(--fm-color-primary-20);
}
header label.search-container i.action-search {
    cursor: pointer;
    color: var(--fm-color-text-sub);
    display: none;

    font-size: 14px;
}
header label.search-container i.action-search:hover {
    color: var(--fm-color-text);
}

@media screen and (max-width: 550px) {
    header label.search-container i.action-search {
        display: flex;
    }
    header label.search-container input[type="search"] {
        display: none;
    }
}

header i.directory-menu {
    padding: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--fm-color-text);
    cursor: pointer;

    border-radius: 100%;

    font-size: 14px;

    z-index: 4;
}
header h1.title {
    font-size: 16px;
    font-weight: 700;

    width: 100%;

    padding: 0 6px;

    user-select: none;
    pointer-events: none;

    color: var(--fm-color-header-text);
}

@media screen and (min-width: 800px) {
    header i.directory-menu {
        display: none;
    }

    header h1.title {
        padding: 0 12px;
    }
}

header h1.title span {
    font-weight: 400;
}

header div.container-user {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 0 12px;

    border-left: 1px solid var(--fm-color-divider);

    width: fit-content;
    height: 100%;

    user-select: none;
}
header div.container-user img {
    --size-container-user-avatar: 32px;

    width: var(--size-container-user-avatar);
    max-width: var(--size-container-user-avatar);
    min-width: var(--size-container-user-avatar);
    height: var(--size-container-user-avatar);
    max-height: var(--size-container-user-avatar);
    min-height: var(--size-container-user-avatar);

    user-select: none;
    pointer-events: none;

    display: flex;

    border-radius: 100%;
}
header div.container-user h4 {
    font-weight: 500;
    font-size: 13px;

    text-transform: lowercase;
    letter-spacing: .02em;

    color: var(--fm-color-text);
}
header div.container-user:hover {
    background-color: var(--fm-color-body-gray);
}
@media (max-width: 500px) {
    header div.container-user {
        border: none;
    }
    header div.container-user h4 {
        display: none;
    }
}

main {
    width: 100%;
    height: calc(100% - var(--size-header));

    position: relative;
    display: flex;
}
/* @media screen and (max-width: 450px) {
    main {
        width: calc(100% + 12px);
    }
} */

main nav.left-directory-manager {
    width: 260px;
    min-width: 260px;
    max-width: 30%;
    height: 100%;

    background-color: var(--fm-color-header);
    display: flex;
    flex-direction: column;
    position: relative;

    border-right: 1px solid var(--fm-color-divider);

    resize: horizontal;

    z-index: 3;
}
@media (max-width: 800px) {
    main nav.left-directory-manager {
        position: fixed;
        top: 0;
        left: 0;
        box-shadow: var(--shadow-07);

        height: calc(100% - var(--size-header));

        padding-top: var(--size-header);

        border-right: 1px solid var(--fm-color-divider);

        transition: transform .2s;
        transform: translateX(-150%);
    }
    main nav.left-directory-manager.show {
        transform: translateX(0);
    }

    main div.resize-divider {
        display: none;
    }
}

main nav.left-directory-manager section.list-manager {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}
main nav.left-directory-manager section.list-manager ul {
    width: 100%;

    padding: 6px 0;

    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;

    list-style: none;

    transition: max-height .2s;
}
main nav.left-directory-manager section.list-manager ul li {
    padding: 6px 0 6px 12px;

    display: flex;
    flex-direction: column;

    user-select: none;
}
main nav.left-directory-manager section.list-manager ul li:hover {
    background-color: var(--fm-color-body-gray);
}

main nav.left-directory-manager section.list-manager ul li section {
    width: 100%;

    position: relative;
}
main nav.left-directory-manager section.list-manager ul li section ul {
    border-left: 1px solid var(--fm-color-divider);

    width: calc(100% - 1px);

    padding: 0 0 0 0;
}
main nav.left-directory-manager section.list-manager ul li section ul li {
    padding-bottom: 0;
}
main nav.left-directory-manager section.list-manager ul li section ul li::before {

}
main nav.left-directory-manager section.list-manager ul li span {
    font-weight: 500;
    font-size: 13px;

    padding: 0 12px 0 0;

    display: flex;
    align-items: center;
    gap: 8px;

    cursor: pointer;
}
main nav.left-directory-manager section.list-manager ul li span i {
    display: none;
    color: var(--fm-color-text-sub);

    padding: 4px;

    transform: rotate(-90deg);
}
main nav.left-directory-manager section.list-manager ul li span img {
    --size-folder-span: 24px;

    width: var(--size-folder-span);
    min-width: var(--size-folder-span);
    max-width: var(--size-folder-span);
    height: var(--size-folder-span);
    min-height: var(--size-folder-span);
    max-height: var(--size-folder-span);

    user-select: none;
    pointer-events: none;

    display: flex;
}
main nav.left-directory-manager section.list-manager ul li span span.folder {
    width: 100%;

    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;

    display: block;
    overflow: hidden;
    color: var(--fm-color-text);
}
main nav.left-directory-manager section.list-manager ul li.empty span span.folder {
    opacity: .6;
}
main nav.left-directory-manager section.list-manager ul li span span.count {
    padding: 0 4px;

    min-width: 12px;
    height: 20px;

    font-weight: 600;
    font-size: 12px;

    border-radius: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--fm-color-divider);
}
main nav.left-directory-manager section.list-manager ul li.empty span span.count {
    display: none;
}
@media screen and (max-width: 800px) {
    main nav.left-directory-manager section.list-manager ul li span i {
        display: block;
    }

    main nav.left-directory-manager section.list-manager ul li span span.count {
        display: none;
    }
}

main nav.left-directory-manager section.details-manager {
    height: fit-content;
    width: 100%;

    padding: 12px 0;

    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    bottom: 0;

    border-top: 1px solid var(--fm-color-divider);
}
main nav.left-directory-manager section.details-manager h2 {
    font-weight: 500;
    font-size: 14px;

    text-transform: uppercase;

    letter-spacing: .06em;

    display: flex;
    align-items: center;
    color: var(--fm-color-text);

    padding: 0 12px;
}
main nav.left-directory-manager section.details-manager ul {
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 4px;

    list-style: none;
}
main nav.left-directory-manager section.details-manager ul li {
    padding: 0 12px;

    font-weight: 400;
    font-size: 13px;
    font-style: normal;

    text-transform: none;

    line-height: 16px;

    display: flex;
    align-items: center;
    position: relative;

    color: var(--fm-color-text-sub);
}
main nav.left-directory-manager section.details-manager ul li:last-child {
    top: 1px;
}

main nav.left-directory-manager section.dev-menu {
    width: 100%;
    height: var(--size-header);
    max-height: var(--size-header);
    min-height: var(--size-header);

    display: flex;
    align-items: center;
    position: relative;

    border-top: 1px solid var(--fm-color-divider);
}
main nav.left-directory-manager section.dev-menu i.fa {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--fm-color-text-sub);
    cursor: pointer;

    font-size: 14px;
}
main nav.left-directory-manager section.dev-menu i.fa:not(:last-child) {
    border-right: 1px solid var(--fm-color-divider);
}
main nav.left-directory-manager section.dev-menu i.fa:hover {
    background-color: var(--fm-color-body-gray);
    color: var(--fm-color-text);
}

main div.resize-divider {
    height: 100%;
    width: var(--size-divider-resize);
    max-width: var(--size-divider-resize);
    min-width: var(--size-divider-resize);

    border-left: 1px solid var(--fm-color-divider);

    cursor: e-resize;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    position: relative;
    background-color: transparent;

    transition: width .2s, border-left-width .2s;

    z-index: 1;
}

main article.main-file-manager {
    width: 100%;
    height: 100%;

    position: relative;
    display: flex;
    flex-direction: column;
}
main article.main-file-manager div#main-file-manager {
    overflow-y: auto;

    height: 100%;
    width: 100%;
}
main article.main-file-manager nav.header {
    height: var(--size-header);
    max-height: var(--size-header);
    min-height: var(--size-header);

    background-color: var(--fm-color-header-90);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);

    z-index: 2;

    border-bottom: 1px solid var(--fm-color-divider);
}
main article.main-file-manager nav.header ul.tree {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 4px;
    overflow: hidden;
    overflow-x: auto;

    list-style: none;
}
main article.main-file-manager nav.header ul.tree li {
    width: fit-content;
    max-width: 80px;

    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;

    display: block;
    overflow: hidden;
    color: var(--fm-color-text-sub);
}
main article.main-file-manager nav.header ul.tree li span {
    font-weight: 500;
    font-size: 13px;

    word-break: keep-all;
    white-space: nowrap;

    padding: 2px 4px;

    color: var(--fm-color-text-sub);
    cursor: pointer;
}
main article.main-file-manager nav.header ul.tree li.last-child {
    color: var(--fm-color-text);
}
main article.main-file-manager nav.header ul.tree li.last-child span {
    color: var(--fm-color-text);
}
main article.main-file-manager nav.header ul.tree li:hover span {
    text-decoration: underline;

    color: var(--fm-color-text);
}

main article.main-file-manager nav.header ul.tree i.divider {
    width: fit-content;

    font-size: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 2px;

    color: var(--fm-color-text-sub);
}

@media screen and (max-width: 800px) {
    main article.main-file-manager nav.header {
        justify-content: space-between;
    }
    main article.main-file-manager nav.header ul.tree {
        display: none;
    }
}

main article.main-file-manager nav.header div.manager-content {
    display: flex;
    align-items: center;
    gap: 12px;
    position: sticky;

    height: calc(100% - 24px);
    width: fit-content;

    padding: 12px 12px;
}
main article.main-file-manager nav.header div.manager-content.left {
    left: 0;
}
main article.main-file-manager nav.header div.manager-content.right {
    right: 0;
}

main article.main-file-manager nav.header div.manager-content button.item-nav-button {
    background-color: var(--fm-color-body);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;

    aspect-ratio: 1 / 1;

    height: 100%;

    border-radius: var(--radius-02);
    border: 1px solid var(--fm-color-divider);
}
main article.main-file-manager nav.header div.manager-content button.item-nav-button i {
    color: var(--fm-color-text);

    font-size: 12px;
}
main article.main-file-manager nav.header div.manager-content button.item-nav-button:not(:disabled):hover {
    box-shadow: var(--shadow-01);
}
main article.main-file-manager nav.header div.manager-content button.item-nav-button:active {
    box-shadow: var(--shadow-02);
}
main article.main-file-manager nav.header div.manager-content button.item-nav-button:disabled {
    cursor: default;
}
main article.main-file-manager nav.header div.manager-content span.item {
    height: 100%;
    width: var(--size-header);
    max-width: var(--size-header);
    min-width: var(--size-header);

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    border-left: 1px solid var(--fm-color-divider);
}
main article.main-file-manager nav.header div.manager-content span.item span.material-symbols-outlined {
    font-size: 20px;
    font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}
main article.main-file-manager nav.header div.manager-content span.item:hover {
    background-color: var(--fm-color-body-gray);
}
main article.main-file-manager nav.header div.manager-content span.item:hover span.material-symbols-outlined {
    font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 24;
}

main article.main-file-manager h5.message {
    color: var(--fm-color-text-sub);
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 80vh;


    font-weight: 400;
    font-size: 13px;

    text-transform: uppercase;
    letter-spacing: .06em;
}

main article.main-file-manager article {
    padding: 12px;

    display: flex;
    flex-direction: column;
    gap: 12px;
}
main article.main-file-manager.selected article {
    padding-bottom: calc(var(--size-header) + 12px);
}

main article.main-file-manager article ul.file-manager {
    height: fit-content;
    width: calc(100% - 2px);

    background-color: var(--fm-color-header);

    border-radius: var(--radius-02);
    border: 1px solid var(--fm-color-divider);

    list-style: none;
}
main article.main-file-manager article ul.file-manager.grid {
    width: 100%;
}
main article.main-file-manager article ul.file-manager li {
    font-weight: 500;
    font-size: 13px;

    padding: 12px 12px;

    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
}
main article.main-file-manager article ul.file-manager li.selected {
    background-color: var(--fm-color-primary-20);

    outline: 1px solid var(--fm-color-primary);

    z-index: 1;
}
main article.main-file-manager article ul.file-manager li.selected:hover {
    background-color: var(--fm-color-primary-30);
}
main article.main-file-manager article ul.file-manager li.drag-in {
    border-radius: 0;
    border-color: transparent;
    outline: 1px solid var(--fm-color-primary);

    background-image: linear-gradient(var(--fm-color-body), var(--fm-color-body-gray));
    box-shadow: 0 0 0 var(--radius-02) var(--fm-color-primary-20);

    z-index: 2;
}
main article.main-file-manager article ul.file-manager li.dir-back {
    position: sticky;
    top: 0;
    background-color: var(--fm-color-header);

    z-index: 1;
}
main article.main-file-manager article ul.file-manager li:hover {
    background-color: var(--fm-color-body-gray);
}
main article.main-file-manager article ul.file-manager li:not(:last-child) {
    border-bottom: 1px solid var(--fm-color-divider);
}
main article.main-file-manager article ul.file-manager li:first-child {
    border-top-left-radius: var(--radius-02);
    border-top-right-radius: var(--radius-02);
}
main article.main-file-manager article ul.file-manager li:last-child {
    border-bottom-left-radius: var(--radius-02);
    border-bottom-right-radius: var(--radius-02);
}
main article.main-file-manager article ul.file-manager li span.first {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;

    width: calc(100% - 80px);

    white-space: nowrap;

    pointer-events: none;
    user-select: none;
}
main article.main-file-manager article ul.file-manager li span.first span.name {
    text-overflow: ellipsis;
    white-space: unset;

    display: block;
    overflow: hidden;
    color: var(--fm-color-text);

    width: 100%;
}
main article.main-file-manager article ul.file-manager li span.first img {
    --size-f-image-f: 30px;

    width: var(--size-f-image-f);
    max-width: var(--size-f-image-f);
    min-width: var(--size-f-image-f);
    height: auto;

    user-select: none;
    pointer-events: none;
}
/* main article.main-file-manager article ul.file-manager li span.first img.preview {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    max-height: 100%;
    min-height: 100%;

    object-fit: cover;
} */
main article.main-file-manager article ul.file-manager li span.other {
    padding: 0 12px;

    width: fit-content;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: end;
    color: var(--fm-color-text-sub-40);
    position: absolute;
    right: 0;

    pointer-events: none;
    user-select: none;
}
main article.main-file-manager article ul.file-manager li span.other .count {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;

    white-space: nowrap;
}
main article.main-file-manager article ul.file-manager.grid li span.other .count {
    gap: 14px;
}
main article.main-file-manager article ul.file-manager.grid li span.other .count .itm {
    gap: 4px;
}
main article.main-file-manager article ul.file-manager li span.other .count .itm {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 6px;
}
main article.main-file-manager article ul.file-manager li.selected span.other {
    color: var(--fm-color-text);
}

main article.main-file-manager article ul.file-manager.grid {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    border: none;
}
main article.main-file-manager article ul.file-manager.grid li {
    background-color: var(--fm-color-body);
    flex-direction: column;
    gap: 2px;

    border: 1px solid var(--fm-color-divider);
    border-radius: var(--radius-02);

    /*     aspect-ratio: 1 / 1.2; */
    /*     flex: 1; */

    width: 117px;
    min-width: 117px;
}
main article.main-file-manager article ul.file-manager.grid li:hover {
    box-shadow: var(--shadow-03);

    transform: translateY(-2px);
}
@media screen and (max-width: 495px) {
    main article.main-file-manager article ul.file-manager.grid li {
        flex: 1;
    }
}

main article.main-file-manager article ul.file-manager.grid li span.other {
    display: flex;
    align-content: center;
    justify-content: start;
    position: relative;

    height: auto;
    width: 100%;
}
main article.main-file-manager article ul.file-manager.grid li span.first {
    flex-direction: column;
    position: relative;

    width: 100%
}
main article.main-file-manager article ul.file-manager.grid li span.first span.name {
    width: 100%;

    text-overflow: ellipsis;

    display: block;
}
main article.main-file-manager article ul.file-manager.grid li span.first span.image-preview {
    height: 120px;
    width: 100%;

    border-radius: var(--radius-01);

    background-color: var(--fm-color-body-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}
main article.main-file-manager article ul.file-manager.grid li.selected span.first span.image-preview {
    background-color: var(--fm-color-primary-30);
}
main article.main-file-manager article ul.file-manager.grid li.selected {
    background-color: var(--fm-color-primary-20);
}

main nav.file-detail {
    width: 260px;
    max-width: 260px;
    min-width: 260px;
    height: 100%;

    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--fm-color-body);

    border-left: 1px solid var(--fm-color-divider);

    z-index: 3;
}

@media screen and (max-width: 1100px) {
    main nav.file-detail {
        position: fixed;
        right: 0;
        left: unset;

        height: calc(100% - var(--size-header));
    }
}

@media screen and (max-width: 450px) {
    main nav.file-detail {
        position: fixed;
        right: 0;
        top: 0;
        bottom: unset;
        left: unset;

        width: 100%;
        max-width: 100%;
        min-width: 100%;
        height: 100%;

        border: none;
    }
}

main nav.file-detail header.header {
    height: var(--size-header);
    max-height: var(--size-header);
    min-height: var(--size-header);
    width: 100%;
}
main nav.file-detail header.header h4 {
    font-size: 13px;
    font-weight: 500;

    width: 100%;

    padding: 0 12px;

    text-transform: uppercase;
    letter-spacing: .04em;

    color: var(--fm-color-header-text);
}
main nav.file-detail header.header button {
    --size-button-header: 28px;

    padding: 0 24px;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    border: none;
    border-left: 1px solid var(--fm-color-divider);
    outline: none;

    width: var(--size-button-header);
    min-width: var(--size-button-header);
    max-width: var(--size-button-header);
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}
main nav.file-detail header.header button:hover {
    background-color: var(--fm-color-body-gray);
}
main nav.file-detail header.header button span {
    font-weight: 400;
    font-size: 20px;

    position: relative;
    display: flex;
    top: -2px;
    color: var(--fm-color-text);
}

main nav.file-detail h4.message-cont {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--fm-color-header-text);

    font-size: 13px;
    font-weight: 500;

    padding: 0 12px;

    text-transform: uppercase;
    letter-spacing: .04em;
}

main nav.file-detail div.container {
    width: 100%;
    height: calc(100% - var(--size-header));

    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

main nav.file-detail div.container div.content {
    width: 100%;

    position: relative;
    display: flex;
    flex-direction: column;

    padding-bottom: 12px;
}

main nav.file-detail div.container div.content div.preview {
    --size-static-height: 140px;

    width: calc(100% - 24px);
    height: var(--size-static-height);
    max-height: var(--size-static-height);
    min-height: var(--size-static-height);

    margin: 12px;

    border-radius: var(--radius-02);

    background-color: var(--fm-color-body-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
main nav.file-detail div.container div.content div.preview img {
    width: auto;
    height: auto;
    min-height: 24px;
    max-height: 100%;

    object-position: center;
    object-fit: cover;

    image-rendering: pixelated;
}
main nav.file-detail div.container div.content div.preview span.format {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 12px;
    right: 12px;

    padding: 2px 6px;

    border-radius: var(--radius-01);

    text-transform: uppercase;
    letter-spacing: .04em;

    font-weight: 500;
    font-size: 12px;
}

main nav.file-detail div.container div.content div.info {
    display: flex;
    flex-direction: column;
    gap: 12px;

    padding: 0 12px;
}
main nav.file-detail div.container div.content div.info span {
    display: flex;
    flex-direction: column;
    gap: 2px;

    color: var(--fm-color-text-sub);

    font-weight: 500;
    font-size: 13px;

    user-select: text;

    line-break: anywhere;
}
main nav.file-detail div.container div.content div.info span label {
    font-weight: 600;
    font-size: 13px;

    letter-spacing: .04em;
    text-transform: uppercase;

    color: var(--fm-color-text);

    user-select: none;
}
main nav.file-detail div.container div.content div.info span var {
    width: 100%;

    font-weight: 500;
    font-style: normal;

    color: var(--fm-color-text-sub);
}

main nav.file-detail nav.bottom-actions {
    width: 100%;
    height: 64px;

    display: flex;
    align-items: center;

    border-top: 1px solid var(--fm-color-divider);
}
main nav.file-detail nav.bottom-actions span.item {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    gap: 6px;
}
main nav.file-detail nav.bottom-actions span.item:not(:last-child) {
    border-right: 1px solid var(--fm-color-divider);
}
main nav.file-detail nav.bottom-actions span:hover {
    background-color: var(--fm-color-body-gray);
}
main nav.file-detail nav.bottom-actions span:hover span.material-symbols-outlined {
    font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 24;
}
main nav.file-detail nav.bottom-actions span.item span.material-symbols-outlined {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--fm-color-text);

    font-size: 18px;

    pointer-events: none;
    user-select: none;

    width: unset;
    height: unset;
}
main nav.file-detail nav.bottom-actions span.item label {
    font-weight: 500;
    font-size: 10px;

    padding: 0 6px;

    text-transform: none;
    letter-spacing: .04em;
    word-break: break-word;

    color: var(--fm-color-text);
}

section.container-for-toast {
    width: fit-content;
    height: fit-content;

    padding: 12px;

    display: flex;
    flex-direction: column;
    gap: 12px;
    position: fixed;
    bottom: 0;
    left: 0;

    z-index: 4;
}
section.container-for-toast div.toast-container {
    width: fit-content;
    min-width: 220px;
    max-width: 320px;
    height: fit-content;
    max-height: 0;

    display: flex;
    background-color: var(--fm-color-toast);
    position: relative;
    overflow: hidden;

    padding: 12px;

    border: 1px solid var(--fm-color-toast-border);
    border-radius: var(--radius-02);

    z-index: 4;

    animation-name: show_toast;
    animation-duration: 4.8s;
    animation-timing-function: linear;
}
section.container-for-toast div.toast-container p.text {
    font-weight: 500;
    font-size: 13px;

    letter-spacing: .02em;
    text-transform: none;
    word-break: break-word;

    color: var(--fm-color-toast-text);

    display: flex;
}

div.unknown-path {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
div.unknown-path button {
    background-color: var(--fm-color-primary);
    color: var(--fm-color-text-invert);
    cursor: pointer;

    border-radius: var(--radius-02);
    border: none;
    outline: none;

    font-size: 13px;
    font-weight: 500;

    padding: 0 18px;

    width: fit-content;
    height: 40px;
}
div.unknown-path button:hover {
    box-shadow: 0 0 0 var(--radius-02) var(--fm-color-primary-20);
}
div.unknown-path button:active {
    background-color: var(--fm-color-primary-hover);
}

h4.file-viewer-unknown-file {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--fm-color-header-text);

    font-size: 13px;
    font-weight: 500;

    padding: 0 12px;

    text-transform: uppercase;
    letter-spacing: .04em;
}
h4.file-viewer-unknown-file span.message {
    position: relative;
    top: 6px;
    color: var(--fm-color-text-sub-40);

    font-weight: 400;

    padding: 4px 8px;

    text-transform: none;
    letter-spacing: .02em;

    border-radius: var(--radius-02);
    border: 1px solid var(--fm-color-divider);
}

main div.menu-selected-fd {
    position: relative;
    background-color: var(--fm-color-body);
    display: flex;
    flex-direction: row;
    align-items: center;

    overflow: auto;

    width: 100%;
    height: var(--size-header);
    max-height: var(--size-header);
    min-height: var(--size-header);

    border-top: 1px solid var(--fm-color-divider);

    z-index: 2;
}
main div.menu-selected-fd span.count {
    white-space: nowrap;
    font-weight: 500;
    font-size: 12px;

    position: relative;
    right: 12px;
    color: var(--fm-color-text);
}

main div.menu-selected-fd ul.list-menu-selected {
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    position: relative;

    width: 100%;
    height: 100%;
}
main div.menu-selected-fd ul.list-menu-selected li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    width: 80px;
    height: 100%
}
main div.menu-selected-fd ul.list-menu-selected li {
    border-right: 1px solid var(--fm-color-divider);
}
main div.menu-selected-fd ul.list-menu-selected li:hover {
    /*     background: linear-gradient(180deg, transparent, var(--fm-color-body-gray)); */
    background-color: var(--fm-color-body-gray);
}
main div.menu-selected-fd ul.list-menu-selected li i {
    font-size: 14px;

    color: var(--fm-color-text-sub);
}
main div.menu-selected-fd ul.list-menu-selected li:hover i {
    color: var(--fm-color-text);
}
main div.menu-selected-fd ul.list-menu-selected li span {
    font-size: 10px;
    font-weight: 500;

    color: var(--fm-color-text-sub);
    display: block;
    position: relative;
    overflow: hidden;

    width: 55%;

    text-overflow: ellipsis;
    /*text-transform: uppercase;*/
    white-space: nowrap;
    letter-spacing: .04em;
}

@keyframes show_toast {
    0% {
        max-height: 0;
    }
    100% {
        max-height: 999px;
    }
}

div.media-preview {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgb(10, 10, 10);

    user-select: none;
}
div.media-preview video {
    max-height: 100%;
    min-height: 100%;
    max-width: 100%;
    min-width: 100%;
}
div.media-preview div.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 12px;
    background-color: rgba(10, 10, 10, 0.6);
    backdrop-filter: blur(30px);

    position: absolute;
    bottom: 0;

    padding: 0 24px;

    width: calc(100% - 48px);
    height: 64px;

    transition: transform .2s;

    border-top: 1px solid rgba(255, 255, 255, 0.1);

    z-index: 1;
}
div.media-preview div.controls p {
    color: white;

    font-weight: 500;
    font-size: 12px;
}
div.media-preview div.controls i.fa {
    color: white;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;

    width: 24px;

    padding: 10px;

    border-radius: 100px;
}
div.media-preview div.controls i.fa.small {
    font-size: 12px;
}
div.media-preview div.controls i.fa:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
div.media-preview div.controls i.fa.no-active {
    color: rgba(255, 255, 255, 0.5);
}
div.right, div.left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 4px;
    position: absolute;
}
div.right {
    right: 12px;
}
div.left {
    left: 12px;
}

div.media-preview div.controls section.progress {
    width: 100%;
    height: 3px;

    position: absolute;
    top: -2px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;

    z-index: 1;
}
div.media-preview div.controls section.progress:hover, div.media-preview div.controls section.progress.dragging {
    height: 6px;

    top: -6px;
    background-color: rgba(255, 255, 255, 0.3);
}
div.media-preview div.controls section.progress div.seek {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;

    width: auto;
    height: 100%;
}
div.media-preview div.controls section.progress:hover div.seek::after, div.media-preview div.controls section.progress.dragging div.seek::after {
    content: "";
    position: absolute;
    right: -7px;
    aspect-ratio: 1 / 1;
    background-color: white;

    width: 14px;

    border-radius: 100%;
}

div.media-preview div.audio-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;

    z-index: 0;
}
div.media-preview div.audio-container h1, div.media-preview div.audio-container h2, div.media-preview div.audio-container h3 {
    color: white;
}
div.media-preview div.audio-container h1 {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: -.02em;
}
div.media-preview div.audio-container h2 {
    font-size: 16px;
    font-weight: 400;

    opacity: .5;
}
div.media-preview div.audio-container h3 {
    font-size: 14px;
    font-weight: 400;

    opacity: .5;
    position: relative;
    top: 12px;
}

ol.popup {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    justify-content: start;
    background-color: var(--fm-color-body);
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: var(--shadow-03);

    border: 1px solid var(--fm-color-divider);
    border-radius: var(--radius-02);

    z-index: 5;

    padding: 4px 0;

    min-width: 200px;
    width: auto;
    max-width: 300px;
    height: auto;

    list-style: none;

    animation: show_popup .1s ease;
}
ol.popup li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    width: calc(100% - 24px);

    padding: 10px 12px;
}
ol.popup li:hover {
    background-color: var(--fm-color-body-gray);
}
ol.popup li span {
    font-weight: 500;
    font-size: 13px;
    letter-spacing: -.02em;

    color: var(--fm-color-text);
}
ol.popup li i.fa {
    width: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    color: var(--fm-color-text-sub);

    font-size: 14px;
}
ol.popup li:hover i.fa {
    color: var(--fm-color-text);
}


@keyframes show_popup {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media screen and (max-width: 800px) {
    ol.popup {
        width: 100%;
        max-width: 100%;
        min-width: 100%;

        padding: 12px 0;

        inset: auto;

        position: fixed;
        bottom: 0;
        box-shadow: 0 -6px 20px var(--fm-color-shadow);

        border: none;
        border-radius: 0;
    }

    ol.popup li {
        padding: 12px 24px;
    }

    @keyframes show_popup {
        0% {
            transform: translateY(100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
}

ul.container-upload-content {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    overflow-y: auto;

    width: 100%;
    min-height: 48px;
    max-height: 192px;
    height: fit-content;
}
ul.container-upload-content:not(:empty) {
    border-top: 1px solid var(--fm-color-divider);
}
ul.container-upload-content li {
    display: flex;
    flex-direction: column;
    position: relative;

    width: 100%;
}
ul.container-upload-content li div {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 6px;
    position: relative;

    width: calc(100% - 24px);

    padding: 12px;

    z-index: 1;
}
ul.container-upload-content li div p {
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;

    width: 100%;

    display: block;
    color: var(--fm-color-text);
    overflow: hidden;

    z-index: 1;
}
ul.container-upload-content li div span {
    width: 24px;
    height: auto;

    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--fm-color-text-sub);

    font-size: 13px;
    font-weight: 400;

    border-radius: 100%;

    z-index: 1;
}
ul.container-upload-content li .progress {
    z-index: 0;

    position: absolute;
    left: 0;
    background-color: var(--fm-color-progress-upload);

    height: 100%;
    width: auto;

    padding: 0;
    margin: 0;
}

input[type="checkbox"].switch {
    --size-switch-h: 22px;
    --size-switch-w: 36px;

    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    background-color: var(--fm-color-body-gray);
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;

    height: var(--size-switch-h);
    min-height: var(--size-switch-h);
    max-height: var(--size-switch-h);
    width: var(--size-switch-w);
    min-width: var(--size-switch-w);
    max-width: var(--size-switch-w);

    padding: var(--radius-01);

    border: 1px solid var(--fm-color-divider);
    border-radius: 999px;

    transition: background-color .2s;
}
input[type="checkbox"].switch:hover {
    border-color: var(--fm-color-text-sub-40);
}
input[type="checkbox"].switch:active {
    border-color: var(--fm-color-primary);

    box-shadow: 0 0 0 4px var(--fm-color-primary-20);
}
input[type="checkbox"].switch::before {
    --size-tumble: 100%;

    content: "";

    height: var(--size-tumble);
    min-height: var(--size-tumble);
    max-height: var(--size-tumble);

    aspect-ratio: 1 / 1;
    background-color: var(--fm-color-text-sub-40);
    box-sizing: content-box;

    border-radius: 100%;

    transition: background-color .2s, margin .2s;
}
input[type="checkbox"]:checked.switch {
    background-color: var(--fm-color-primary);

    border-color: var(--fm-color-primary-hover);
}
input[type="checkbox"]:checked.switch:hover {
    border-color: var(--fm-color-primary-hover);
}
input[type="checkbox"]:checked.switch::before {
    background-color: var(--fm-color-text-invert);

    margin-left: 14px;
}

select {
    width: fit-content;
    height: 30px;

    padding: 0 6px;

    background-color: var(--fm-color-body);
    color: var(--fm-color-text);

    border: 1px solid var(--fm-color-divider);
    border-radius: var(--radius-02);

    font-weight: 500;
    font-size: 13px;
    font-style: normal;
}