:root {
    --size-footer: 30px;
}

textarea.editor {
    width: 100%;
    height: calc(100% - var(--size-header));

    padding: 12px;

    position: relative;
    resize: none;

    border-radius: 0;
    border: none;
    outline: none;

    font-family: "JetBrains Mono", monospace;
    font-size: 13px;
    font-weight: 400;

    text-align: left;
    letter-spacing: .01em;
}
div.CodeMirror {
    width: 100%;
    height: calc(100% - var(--size-header) - var(--size-footer));

    font-size: 13px;
    font-weight: 400;
    font-family: "JetBrains Mono", monospace;

    letter-spacing: unset;
}
div.CodeMirror.lock div.CodeMirror-scroll {
    user-select: text;
    pointer-events: none;
}
div.CodeMirror pre span {
    font-size: 13px;
    font-weight: 400;
    font-family: "JetBrains Mono", monospace;

    letter-spacing: unset;
}
div.CodeMirror-gutters {
    background-color: var(--fm-color-body-gray);

    border-right: 1px solid var(--fm-color-divider);
}

div.image-preview {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(10, 10, 10);
}
div.image-preview header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(10, 10, 10, 0.6);
    backdrop-filter: blur(30px);

    border-bottom-color: rgba(255, 255, 255, 0.1);

    width: 100%;

    z-index: 2;
}
div.image-preview header h1.title {
    color: rgb(255, 255, 255);
}

div.image-preview img.preview {
    min-width: 24px;
    max-width: 100%;
    width: auto;
    min-height: 24px;
    max-height: 100%;
    height: auto;
    position: absolute;
    cursor: grab;

    user-select: none;
    pointer-events: auto;

    z-index: 1;

    transition: left 0.05s, top 0.05s;
}

footer.view-footer {
    width: calc(100% - 24px);
    height: var(--size-footer);

    background-color: var(--fm-color-body);
    display: flex;
    align-items: center;
    position: relative;
    justify-content: end;
    gap: 18px;

    padding: 0 12px;

    border-top: 1px solid var(--fm-color-divider);
}
footer.view-footer select, footer.view-footer p.clickable {
    height: 100%;
    /*width: 80px;*/

    color: var(--fm-color-text);
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    font-weight: 400;
    font-size: 12px;

    border: none;
    outline: none;

    -webkit-appearance: none;
    -moz-appearance: none;
}
footer.view-footer p {
    height: 100%;
    /*width: 80px;*/

    color: var(--fm-color-text);
    background-color: transparent;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    font-weight: 400;
    font-size: 12px;

    text-transform: uppercase;
}
footer.view-footer select:hover, footer.view-footer p.clickable:hover {
    background-color: var(--fm-color-body-gray);
}
footer.view-footer i.fa {
    font-size: 12px;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    aspect-ratio: 1 / 1;
}
footer.view-footer i.fa:hover {
    background-color: var(--fm-color-body-gray);
}